.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.bsbb {
  box-sizing: border-box;
}

.p-10px {
  padding: 20px;
}

.col-gap-20px {
  column-gap: 20px;
}
